<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finhacks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Activity -->
        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".GroupActivity" android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GroupActivity" />
        </activity>
        <activity android:name=".AddGroupActivity" android:screenOrientation="portrait"
            android:parentActivityName=".GroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddGroupActivity" />
        </activity>
        <activity android:name=".EventActivity" android:screenOrientation="portrait"
            android:parentActivityName=".GroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventActivity" />
        </activity>
        <activity android:name=".CreateEventActivity" android:screenOrientation="portrait"
            android:parentActivityName=".EventActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreateEventActivity" />
        </activity>

    </application>

</manifest>
